<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383522930388-hcfbs1md7e2dbnaalg5ecvi59q4at6v2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383522930388-hcfbs1md7e2dbnaalg5ecvi59q4at6v2</string>
	<key>API_KEY</key>
	<string>AIzaSyCEuEnUZMU0lFhP27T6nfzc5HYYyl-Wlr4</string>
	<key>GCM_SENDER_ID</key>
	<string>383522930388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>club.delivero</string>
	<key>PROJECT_ID</key>
	<string>deliverodb</string>
	<key>STORAGE_BUCKET</key>
	<string>deliverodb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383522930388:ios:11285fae3ee0869b420541</string>
	<key>DATABASE_URL</key>
	<string>https://deliverodb.firebaseio.com</string>
</dict>
</plist>